{% extends 'accounts/master.html' %}
{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    Total Orders
                </div>
                <div class="card-body">
                  {{totals}}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-white bg-warning">
                <div class="card-header">
                    Orders Delivered
                </div>
                <div class="card-body">
                    {{delivered}}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-white bg-info">
                <div class="card-header">
                    Orders Pending
                </div>
                <div class="card-body">
                    {{pending}}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">        
        <div class="col-4">
            <h3>Customers:</h3>
            <hr>
            <div class="card">
                <button type="button" class="btn btn-primary">Create Customer</button>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for customer in customers %}
                      <tr>
                        <td>{{customer.name}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.phone}}</td>
                        <td><a href="{% url 'customers.show' customer.id %}" class="btn btn-primary">View</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-8">
            <h3>Last 5 Orders:</h3>
            <hr>
            <div class="card">
                
                <table class="table">
                    <thead>
                      <tr>
                                               
                        <th scope="col">Product</th>
                        <th scope="col">Date Ordered</th>
                        <th scope="col">Status</th>
                        <th scope="col">Update</th>
                        <th scope="col">Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for order in orders %}
                      <tr>                       
                        <td>{{order.product.name}}</td>
                        <td>{{order.created_at}}</td>
                        <td>{{order.status}}</td>
                        <td><a href="{% url 'order.update' order.id %}" class="btn btn-success">Update</a></td>
                        <td><a href="{% url 'order.delete' order.id %}" class="btn btn-danger">Remove</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{% endblock content %}